= r.label "Server adddress:"
= r.text_field :server, value: "127.0.0.1", class: "form-control"
%br
= r.label "Streams counter:"
= r.text_field :threads, value: 1, class: "form-control", type: "number", min: 1
