%table.table.table-bordered.table-striped
  %thead
    %tr
      %th 
        %span1 Template name
        = link_to image_tag('Plus.png', :class => "plus", :title => "Add template"), "#", :class => "icon-plus"
        = link_to image_tag('Reload.png', :class => "reload", :title => "Download new templates"), runs_update_templates_path, :class => "icon-reload"
    %tbody.template

:javascript
  $( ".icon-plus" ).click(function() {

    $("#{escape_javascript(render :partial => "runs/new/template_new_select")}").appendTo("tbody.template");
    
    $('.template select').each(function(){
      $(this).attr("name", "templates[]");
    })

    $( ".icon-minus" ).click(function() {
      $(this).parents('th').remove();
    }); 
  });

        