---
ip: 194.44.20.161
url: http://194.44.20.161
user: admin
pass: changeme

supplier:
  ip: 194.44.20.163
  url: http://194.44.20.163
  user: admin
  pass: changeme

trader:
  ip: 194.44.20.162
  url: http://194.44.20.162
  user: admin
  pass: changeme