.container.login
  = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.email_field :email, autofocus: true, :class => "form-control", :placeholder => "Login"
    %br/
    = f.password_field :password, autocomplete: "off", :class => "form-control", :placeholder => "Password"
    %br/
    %div
      %i.icon.lock
      = f.submit "Sign in", :class => "btn btn-success btn-login"
      / <haml:loud> render &amp;quot;devise/shared/links&amp;quot; </haml:loud>
