.container
  =form_for @run do |r|
    %fieldset
      %legend Select Suite
      = render partial: "runs/edit/files", :locals => { r: r, run: @run }
    %fieldset
      %legend Select Templstes
      = render partial: "runs/edit/templates", :locals => { selected_templates:  @selected_templates }
    %fieldset
      %legend Select Virtualization
      = render partial: "runs/edit/virt"
    = r.submit

/* Generate wizard */
:javascript
  $(document).ready(function() {
    $('form').stepy({titleClick: true});
    $(".stepy-navigator>a").attr('class', 'btn btn-success');
    $("input[type='submit']").attr('class', 'btn btn-success');
    $(".stepy-header").addClass('nav nav-tabs')
    $(".stepy-header>li>div").remove()
    $(".stepy-header>li>span").remove()
    $(".stepy-header>li").first().addClass('active')
    $($('ul.stepy-header').children()[0]).append('<a data-toggle="tab">Suite</a>')
    $($('ul.stepy-header').children()[1]).append('<a data-toggle="tab">Templates</a>')
    $($('ul.stepy-header').children()[2]).append('<a data-toggle="tab">Virtualization</a>')
  });