.container
  =form_for @run do |r|
    %fieldset
      %legend Select Suite
      = render partial: "runs/new/files", :locals => { :r => r }
    %fieldset
      %legend Select Templstes
      = render partial: "runs/new/templates"
    %fieldset
      %legend Select Virtualization
      = render partial: "runs/new/virt"
    = r.submit

/* Generate wizard */
:javascript
  $(document).ready(function() {
    $("li:contains('New run')").addClass('active')
    $('form').stepy({titleClick: true});
    $(".stepy-navigator>a").attr('class', 'btn btn-success');
    $("input[type='submit']").attr('class', 'btn btn-success');
    $(".stepy-header").addClass('nav nav-tabs')
    $(".stepy-header>li>div").remove()
    $(".stepy-header>li>span").remove()
    $(".stepy-header>li").first().addClass('active')
    $($('ul.stepy-header').children()[0]).append('<a data-toggle="tab">Global</a>')
    $($('ul.stepy-header').children()[1]).append('<a data-toggle="tab">Suite</a>')
    $($('ul.stepy-header').children()[2]).append('<a data-toggle="tab">Templates</a>')
    $($('ul.stepy-header').children()[3]).append('<a data-toggle="tab">Virtualization</a>')
  });
