.container.container
  .row.dynamic
    = render partial: "status"

:javascript
  $(document).ready(
     function() {
       var intervalId = setInterval(function() {
         var opened = $(".modal.fade").attr("aria-hidden")
         if (opened == "true") {
           $('.dynamic').load('/runs/refresh_report', { "id":"#{params[:id]}"})
         };
       }, 15000);
     });
