.container.container
  .row.dynamic
    = render partial: "status"

:javascript
  $(document).ready(
     function() {
      setInterval(function() {
        $('.dynamic').load('/runs/refresh_report', { "id":"#{params[:id]}"} );
    }, 5000);
  });
