.container.container
  .row.dynamic
    = render partial: "status"

:javascript
  setInterval(function() {
    if ($('.in').length == 0){
      $('.dynamic').load('/runs/refresh_report', {"id":1});
    };
  }, 10000);
