.container.container
  .row.dynamic
    = render partial: "status"

:javascript
  $(document).ready(
     function() {
       var intervalId = setInterval(function() {
         var array = $.map($(".modal.fade"), function(e){
           return $(e).attr('aria-hidden');
         });
         var opened = $.inArray('false', array);
         if (opened == -1) {
           $('.dynamic').load('/runs/refresh_report', { "id":"#{params[:id]}"})
         };
       }, 15000);
     });
