/* Flatly
 * Bootswatch
 *= require_self
 *= require flatly/loader
 *= require flatly/bootswatch
*/


/* Login page */
.login {
	margin-top: 200px;
	width: 400px !important;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: #18bc9c;
	padding: 20px
}

.btn-login {
	width: 366px;
}

/* Icons */
.plus {
	width: 16px;
    margin-left: 5px;
    margin-right: 5px;
}

.minus {
    width: 16px;
}

.reload {
    width: 20px;
}

.delete, .edit, .report, .download{
    width: 24px;
}

.lock {
	background: url(Lock.png);
}

.bin {
	background: url(Bin.png);
}

.icon {
	background-repeat: no-repeat;
    background-size: 40px;
	position: absolute;
	height:40px;
    width:40px;
    margin: 5px 0 0 10px;
}

/* Home page */
.top150 {
	margin-top: 150px;
}

.top30 {
	margin-top: 30px;
}

.top20 {
    margin-top: 20px;
}

.gray {
    background-color: #f9f9f9;
}

.left50 {
    margin-left: 50px;
}

.border-bottom {
	border-bottom: 1px solid #eee;
}

span {
	color: #ffffff;
}

.list-group-item.active {
	background-color: #18bc9c!important;
	border-color: #18bc9c!important;
}

.panel img, .panel button{
	display: block;
	margin: 0 auto 0 auto;
}

.col-lg-9 {
	padding-right: 30px!important;
}

/* Home page brand picture*/
img.brand {
	margin-left: -20px;
	margin-top: -20px;
	margin-right: 100px;
	width: 110px;
}

/* Stepy Wizard */
.stepy-navigator>a, .stepy-navigator>input {
  margin: 1%;
}

.stepy-navigator {
	display: block;
	width: 100%;
}

/* Tables */
td.center {
  width: 1%;
}

th, td {
	vertical-align: middle!important;
}

/*Select Options*/
select.form-control {
	display: inline;
	width: 95%;
}

li {
    display: flex;
}

input.checkbox {
    margin-top: 1px!important;
    margin-right: 10px!important;
    width: 17px;
}


/*Number spinner and fields*/
input[type="number"],input[type="text"] {
	display: inline-block;
	margin: 10px;
	
}

#run_threads
{
	width: 70px;
}

#run_title
{
	width: 400px;
}

/*Select files*/
.arrow-down{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0 5px;
  border-color: #2c3e50 transparent transparent transparent;
  display: inline-block;
  margin: 0 5px 2px 0
}

.arrow-right{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #2c3e50;
  display: inline-block;
  margin-right: 5px
}

/*Report frame*/
iframe.modal-content{
	height: 1000px;
  width:100%
}
